body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: $text;
  background-color: #f2f2f2;
}

.container {
  max-width: 1130px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.25;
}

a {
  color: $secondary;
  text-decoration: none;
}

.subtitle {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 22px;
}

.link {
  display: inline-block;
  color: #D4D6D4;
  text-transform: capitalize;
  font-weight: 700;

  line-height: 1.5;
  span {
    padding-left: 8px;
    transition: all .3s;
  }

  & path {
    fill: #D4D6D4;
    transition: all .3s;
  }

  &:hover path {
    fill: $accent;
  }

  &:hover span {
    color: #FFD723;
    border-bottom: 1px solid $accent;
  }

  &::before {
    content: '';
    height: 9px;
    width: 5px;
  }
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.278;
}

.highlight {
  background-color: rgba(255, 215, 35, 0.1);
}

.card {
  max-width: 430px;
  &__subtitle {
    margin-bottom: 29px;
  }

  &__heading {
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 1.33;
  }

  &__text {
    margin-bottom: 90px;
    line-height: 1.625;
    & p:not(:last-child){
      margin-bottom: 25px;
    }
  }
}

.person-box {
  max-width: 453px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  &__description {
    font-style: italic;
    line-height: 1.625;
    margin-bottom: 24px;
  }

  &__wrapper {
    display: flex;
  }
  

  &__avatar {
    max-width: 46px;
    max-height: 46px;
    object-fit: cover;
    margin-right: 14px;
  }

  &__name {
    font-weight: 700;
    margin-bottom: 4px;
  }

  &__position {
    font-size: 14px;
    line-height: 1.5;
  }
}