$default: rgba(77, 83, 60, 1);
$text: rgba(77, 83, 60, 0.9);
$secondary: #fff;
$accent: #FFD723;


@mixin text-clamp($lines: 2, $line-height: false) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;

  // Fallback for non-Webkit browsers
  // (won't show `…` at the end of the block)
  @if $line-height {
      max-height: $line-height * $lines * 1px;
  }
}